<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/home/admin/logs/dc.log</File>
		<encoder>
			<pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/admin/logs/dc.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>20</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
	</appender>
	
	<appender name="JOB_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/home/admin/logs/dc_job.log</File>
		<encoder>
			<pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/admin/logs/dc_job.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>20</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
	</appender>
	
	<appender name="MAPPER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/home/admin/logs/dc_mapper.log</File>
		<encoder>
			<pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/home/admin/logs/dc_mapper.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>20</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
	</appender>
	
	<logger name="com.tianan.kltsp.dc.biz.job" level="info" additivity="false">
      	<appender-ref ref="JOB_FILE" />
 	</logger>
 	
 	<logger name="com.tianan.kltsp.dc.biz.mapper.CarBasisInfoMapper" level="debug" additivity="false">
      	<appender-ref ref="MAPPER_FILE" />
 	</logger>
 	
 	<logger name="com.tianan.kltsp.dc.biz.mapper.AnalysisFaultDisMapper" level="debug" additivity="false">
      	<appender-ref ref="MAPPER_FILE" />
 	</logger>
	
	<logger name="com.tianan" level="info" />
	
	<root level="info">
		<appender-ref ref="FILE" />
	</root>
</configuration>