<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xai.tt.dc.biz.mapper.ActReProcdefMapper" >
  <resultMap id="BaseResultMap" type="com.xai.tt.dc.client.model.ActReProcdef" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" property="id" jdbcType="VARCHAR" />
    <result column="REV_" property="rev" jdbcType="INTEGER" />
    <result column="CATEGORY_" property="category" jdbcType="VARCHAR" />
    <result column="NAME_" property="name" jdbcType="VARCHAR" />
    <result column="KEY_" property="key" jdbcType="VARCHAR" />
    <result column="VERSION_" property="version" jdbcType="INTEGER" />
    <result column="DEPLOYMENT_ID_" property="deploymentId" jdbcType="VARCHAR" />
    <result column="RESOURCE_NAME_" property="resourceName" jdbcType="VARCHAR" />
    <result column="DGRM_RESOURCE_NAME_" property="dgrmResourceName" jdbcType="VARCHAR" />
    <result column="DESCRIPTION_" property="description" jdbcType="VARCHAR" />
    <result column="HAS_START_FORM_KEY_" property="hasStartFormKey" jdbcType="TINYINT" />
    <result column="HAS_GRAPHICAL_NOTATION_" property="hasGraphicalNotation" jdbcType="TINYINT" />
    <result column="SUSPENSION_STATE_" property="suspensionState" jdbcType="INTEGER" />
    <result column="TENANT_ID_" property="tenantId" jdbcType="VARCHAR" />
    <result column="ENGINE_VERSION_" property="engineVersion" jdbcType="VARCHAR" />
  </resultMap>
</mapper>