<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xai.tt.dc.biz.mapper.B1VrtyPdNmMapper" >
  <resultMap id="BaseResultMap" type="com.xai.tt.dc.client.model.B1VrtyPdNm" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="Comm_Nm" property="commNm" jdbcType="VARCHAR" />
    <result column="Ty_Nm" property="tyNm" jdbcType="VARCHAR" />
    <result column="Wthr_CmnUsed" property="wthrCmnused" jdbcType="INTEGER" />
    <result column="Vrty_Intd" property="vrtyIntd" jdbcType="VARCHAR" />
    <result column="Pic_Url" property="picUrl" jdbcType="VARCHAR" />
    <result column="Tms" property="tms" jdbcType="TIMESTAMP" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="folder" property="folder" jdbcType="BIT" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="Prc_UpLm" property="prcUplm" jdbcType="REAL" />
    <result column="Prc_LwrLmt" property="prcLwrlmt" jdbcType="REAL" />
    <result column="MsUnit" property="msunit" jdbcType="VARCHAR" />
    <result column="Qly_Std" property="qlyStd" jdbcType="VARCHAR" />
    <result column="Spec" property="spec" jdbcType="VARCHAR" />
    <result column="Brnd" property="brnd" jdbcType="VARCHAR" />
    <result column="Pd_Fctr" property="pdFctr" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="Pic_Detail" property="picDetail" jdbcType="LONGVARBINARY" />
  </resultMap>
</mapper>