<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xai.tt.dc.biz.mapper.B4PlgDrcPrcMapper">
  <resultMap id="BaseResultMap" type="com.xai.tt.dc.client.model.B4PlgDrcPrc">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="Ar_ID" jdbcType="CHAR" property="arId" />
    <result column="Ordr_ID" jdbcType="CHAR" property="ordrId" />
    <result column="Bnk" jdbcType="BIGINT" property="bnk" />
    <result column="Bnk_Nm" jdbcType="VARCHAR" property="bnkNm" />
    <result column="Pd_ID" jdbcType="BIGINT" property="pdId" />
    <result column="Pd_Nm" jdbcType="VARCHAR" property="pdNm" />
    <result column="Spec" jdbcType="VARCHAR" property="spec" />
    <result column="Plg_Drc_Prc" jdbcType="REAL" property="plgDrcPrc" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="Crt_Tm" jdbcType="TIMESTAMP" property="crtTm" />
    <result column="Udt_Tm" jdbcType="TIMESTAMP" property="udtTm" />
    <result column="Tms" jdbcType="TIMESTAMP" property="tms" />
    <result column="Rmrk" jdbcType="VARCHAR" property="rmrk" />
  </resultMap>
  
</mapper>