<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xai.tt.dc.biz.mapper.B5PlgCntlMnyWnLnMapper">
  <resultMap id="BaseResultMap" type="com.xai.tt.dc.client.model.B5PlgCntlMnyWnLn">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="Ar_ID" jdbcType="CHAR" property="arId" />
    <result column="Ordr_ID" jdbcType="CHAR" property="ordrId" />
    <result column="Bnk" jdbcType="BIGINT" property="bnk" />
    <result column="Bnk_Nm" jdbcType="VARCHAR" property="bnkNm" />
    <result column="Lwst_Cntl_Mny_Ln" jdbcType="REAL" property="lwstCntlMnyLn" />
    <result column="Plg_WnLn" jdbcType="REAL" property="plgWnln" />
    <result column="Tms" jdbcType="TIMESTAMP" property="tms" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="Crt_Tm" jdbcType="TIMESTAMP" property="crtTm" />
    <result column="Udt_Tm" jdbcType="TIMESTAMP" property="udtTm" />
    <result column="Rmrk" jdbcType="VARCHAR" property="rmrk" />
  </resultMap>

</mapper>