<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xai.tt.dc.biz.mapper.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.xai.tt.dc.client.model.Company">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="manager_name" jdbcType="VARCHAR" property="managerName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="Usr_Tp" jdbcType="CHAR" property="usrTp" />
    <result column="RgtAds" jdbcType="VARCHAR" property="rgtads" />
    <result column="Taxpyr_Id_No" jdbcType="VARCHAR" property="taxpyrIdNo" />
    <result column="DepBnk" jdbcType="VARCHAR" property="depbnk" />
    <result column="Bnk_Acc_No" jdbcType="VARCHAR" property="bnkAccNo" />
    <result column="Rmrk" jdbcType="VARCHAR" property="rmrk" />
  </resultMap>
  
  <sql id="query_criteria">  

      <if test="secSrvCd  != null and secSrvCd=='02'">
        and id in (select distinct RcvPrt from T12_Inv_Inf where Pyr = #{companyId ,jdbcType=INTEGER})
      </if>
      <if test="secSrvCd  != null and secSrvCd=='01'">
        and id in (select distinct Pyr from T12_Inv_Inf where RcvPrt = #{companyId ,jdbcType=INTEGER})
      </if>
     </sql>
  
    <select id="queryPage_skf_fkf" parameterType="com.xai.tt.dc.client.vo.QueryPageInvInfVo" resultType="com.xai.tt.dc.client.model.Company">
select *
 from company t
 where 1=1
 <include refid="query_criteria"></include>
	</select>
</mapper>