<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xai.tt.dc.biz.mapper.T10MsgStMapper" >
  <resultMap id="BaseResultMap" type="com.xai.tt.dc.client.model.T10MsgSt" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="Msg_ID" property="msgId" jdbcType="INTEGER" />
    <result column="Rcv_Psn_ID" property="rcvPsnId" jdbcType="BIGINT" />
    <result column="Msg_StCd" property="msgStcd" jdbcType="CHAR" />
    <result column="Tms" property="tms" jdbcType="TIMESTAMP" />
    <result column="username" property="username" jdbcType="VARCHAR" />
  </resultMap>
</mapper>