<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xai.tt.dc.biz.mapper.T16GdsOistgJrnlMapper">
  <resultMap id="BaseResultMap" type="com.xai.tt.dc.client.model.T16GdsOistgJrnl">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="Mnplt_TrcNo" jdbcType="CHAR" property="mnpltTrcno" />
    <result column="Ar_ID" jdbcType="CHAR" property="arId" />
    <result column="Ordr_ID" jdbcType="CHAR" property="ordrId" />
    <result column="Spg_ID" jdbcType="CHAR" property="spgId" />
    <result column="Rltv_ID" jdbcType="VARCHAR" property="rltvId" />
    <result column="Rltv_Tp" jdbcType="CHAR" property="rltvTp" />
    <result column="Tms" jdbcType="TIMESTAMP" property="tms" />
    <result column="Opr" jdbcType="VARCHAR" property="opr" />
    <result column="Crt_Tm" jdbcType="TIMESTAMP" property="crtTm" />
    <result column="Udt_Tm" jdbcType="TIMESTAMP" property="udtTm" />
    <result column="Rmrk" jdbcType="VARCHAR" property="rmrk" />
    <result column="StgCo" jdbcType="BIGINT" property="stgco" />
    <result column="StgCo_Nm" jdbcType="VARCHAR" property="stgcoNm" />
    <result column="Str_Pos" jdbcType="VARCHAR" property="strPos" />
  </resultMap>
 
</mapper>