<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xai.tt.dc.biz.mapper.T17IvntDtlMapper" >
  <resultMap id="BaseResultMap" type="com.xai.tt.dc.client.model.T17IvntDtl" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="WhRecpt_ID" property="whrecptId" jdbcType="VARCHAR" />
    <result column="ids" property="ids" jdbcType="BIGINT" />
    <result column="InTrsr_Tp" property="intrsrTp" jdbcType="CHAR" />
    <result column="Pd_ID" property="pdId" jdbcType="BIGINT" />
    <result column="Pd_Nm" property="pdNm" jdbcType="VARCHAR" />
    <result column="Spec" property="spec" jdbcType="VARCHAR" />
    <result column="Modl" property="modl" jdbcType="VARCHAR" />
    <result column="Qly_Std" property="qlyStd" jdbcType="VARCHAR" />
    <result column="Brnd" property="brnd" jdbcType="VARCHAR" />
    <result column="Pd_Fctr" property="pdFctr" jdbcType="VARCHAR" />
    <result column="Pch_UnitPrc" property="pchUnitprc" jdbcType="REAL" />
    <result column="Txn_PrcDif" property="txnPrcdif" jdbcType="REAL" />
    <result column="Sale_Tntv_Prc" property="saleTntvPrc" jdbcType="REAL" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="Crt_Tm" property="crtTm" jdbcType="TIMESTAMP" />
    <result column="Tms" property="tms" jdbcType="TIMESTAMP" />
    <result column="MsUnit" property="msunit" jdbcType="VARCHAR" />
    <result column="InTrsr_TNum" property="intrsrTnum" jdbcType="REAL" />
    <result column="OutStg_TNum" property="outstgTnum" jdbcType="REAL" />
    <result column="InTheStg_TNum" property="inthestgTnum" jdbcType="REAL" />
    <result column="Ar_ID" property="arId" jdbcType="CHAR" />
    <result column="Ordr_ID" property="ordrId" jdbcType="CHAR" />
    <result column="Spg_ID" property="spgId" jdbcType="CHAR" />
    <result column="Plg_BillNo" property="plgBillno" jdbcType="CHAR" />
    <result column="Bnk_id" property="bnkId" jdbcType="BIGINT" />
    <result column="Bnk_Nm" property="bnkNm" jdbcType="VARCHAR" />
    <result column="Stgid" property="stgid" jdbcType="BIGINT" />
    <result column="Stg_Nm" property="stgNm" jdbcType="VARCHAR" />
    <result column="Str_Pos" property="strPos" jdbcType="VARCHAR" />
    <result column="Gds_Blg_ID" property="gdsBlgId" jdbcType="BIGINT" />
    <result column="Gds_Blg_Nm" property="gdsBlgNm" jdbcType="VARCHAR" />
    <result column="Plg_Aply_St" property="plgAplySt" jdbcType="CHAR" />
    <result column="Ustrm_Splrid" property="ustrmSplrid" jdbcType="BIGINT" />
    <result column="Ustrm_Splr_Co_Nm" property="ustrmSplrCoNm" jdbcType="VARCHAR" />
  </resultMap>
</mapper>