<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xai.tt.dc.biz.mapper.T3OrderInfMapper">
  <resultMap id="BaseResultMap" type="com.xai.tt.dc.client.model.T3OrderInf">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="Ar_ID" jdbcType="CHAR" property="arId" />
    <result column="Ordr_ID" jdbcType="CHAR" property="ordrId" />
    <result column="PROCESS_INST_ID" jdbcType="VARCHAR" property="processInstId" />
    <result column="Pd_Nm" jdbcType="VARCHAR" property="pdNm" />
    <result column="Spec" jdbcType="VARCHAR" property="spec" />
    <result column="Qly_Std" jdbcType="VARCHAR" property="qlyStd" />
    <result column="Brnd" jdbcType="VARCHAR" property="brnd" />
    <result column="Ordr_StDt" jdbcType="CHAR" property="ordrStdt" />
    <result column="Ordr_EdDt" jdbcType="CHAR" property="ordrEddt" />
    <result column="Pd_Fctr" jdbcType="VARCHAR" property="pdFctr" />
    <result column="Pch_UnitPrc" jdbcType="REAL" property="pchUnitprc" />
    <result column="Wght" jdbcType="REAL" property="wght" />
    <result column="Pch_PymFrGds_TAmt" jdbcType="REAL" property="pchPymfrgdsTamt" />
    <result column="Txn_PrcDif" jdbcType="REAL" property="txnPrcdif" />
    <result column="Sale_Tntv_Prc" jdbcType="REAL" property="saleTntvPrc" />
    <result column="Fnc_Rto" jdbcType="REAL" property="fncRto" />
    <result column="Fnc_Amt" jdbcType="REAL" property="fncAmt" />
    <result column="Ctr_TAmt" jdbcType="REAL" property="ctrTamt" />
    <result column="Prpy_Gld_Rto" jdbcType="REAL" property="prpyGldRto" />
    <result column="Rskctr_UnitPrc" jdbcType="REAL" property="rskctrUnitprc" />
    <result column="Rskctr_Prc_Ref" jdbcType="CHAR" property="rskctrPrcRef" />
    <result column="WnLn" jdbcType="REAL" property="wnln" />
    <result column="Crdn" jdbcType="REAL" property="crdn" />
    <result column="Clspos_Ln" jdbcType="REAL" property="clsposLn" />
    <result column="SplOv_CrrOv_Mod" jdbcType="CHAR" property="splovCrrovMod" />
    <result column="Tms" jdbcType="TIMESTAMP" property="tms" />
    <result column="Ordr_St" jdbcType="CHAR" property="ordrSt" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="Crt_Tm" jdbcType="TIMESTAMP" property="crtTm" />
    <result column="Fnc_SvcFee_Rate" jdbcType="REAL" property="fncSvcfeeRate" />
    <result column="Gds_Nm" jdbcType="VARCHAR" property="gdsNm" />
    <result column="Gds_Pts_Num" jdbcType="INTEGER" property="gdsPtsNum" />
    <result column="Gds_Wght" jdbcType="REAL" property="gdsWght" />
    <result column="Ins_Amt" jdbcType="REAL" property="insAmt" />
    <result column="Dctb_Amt" jdbcType="REAL" property="dctbAmt" />
    <result column="EpAp" jdbcType="VARCHAR" property="epap" />
    <result column="Tprt_Dt" jdbcType="CHAR" property="tprtDt" />
    <result column="Pps_Lnd" jdbcType="VARCHAR" property="ppsLnd" />
    <result column="Tprt_Mod_And_Imt" jdbcType="VARCHAR" property="tprtModAndImt" />
    <result column="PymtMod" jdbcType="CHAR" property="pymtmod" />
    <result column="Ctr_ID" jdbcType="VARCHAR" property="ctrId" />
    <result column="Bnk_Ahn" jdbcType="BIT" property="bnkAhn" />
  </resultMap>
  
    <sql id="query_criteria">  
    
    <if test="id  != null">
        and t3.id  = #{id ,jdbcType=INTEGER}
      </if>
<if test="pchUnitprc  != null">
        and t3.Pch_UnitPrc  = #{pchUnitprc ,jdbcType=INTEGER}
      </if>
<if test="wght  != null">
        and t3.Wght  = #{wght ,jdbcType=INTEGER}
      </if>
<if test="pchPymfrgdsTamt  != null">
        and t3.Pch_PymFrGds_TAmt  = #{pchPymfrgdsTamt ,jdbcType=INTEGER}
      </if>
<if test="txnPrcdif  != null">
        and t3.Txn_PrcDif  = #{txnPrcdif ,jdbcType=INTEGER}
      </if>
<if test="saleTntvPrc  != null">
        and t3.Sale_Tntv_Prc  = #{saleTntvPrc ,jdbcType=INTEGER}
      </if>
<if test="fncRto  != null">
        and t3.Fnc_Rto  = #{fncRto ,jdbcType=INTEGER}
      </if>
<if test="fncAmt  != null">
        and t3.Fnc_Amt  = #{fncAmt ,jdbcType=INTEGER}
      </if>
<if test="ctrTamt  != null">
        and t3.Ctr_TAmt  = #{ctrTamt ,jdbcType=INTEGER}
      </if>
<if test="prpyGldRto  != null">
        and t3.Prpy_Gld_Rto  = #{prpyGldRto ,jdbcType=INTEGER}
      </if>
<if test="rskctrUnitprc  != null">
        and t3.Rskctr_UnitPrc  = #{rskctrUnitprc ,jdbcType=INTEGER}
      </if>
<if test="wnln  != null">
        and t3.WnLn  = #{wnln ,jdbcType=INTEGER}
      </if>
<if test="crdn  != null">
        and t3.Crdn  = #{crdn ,jdbcType=INTEGER}
      </if>
<if test="clsposLn  != null">
        and t3.Clspos_Ln  = #{clsposLn ,jdbcType=INTEGER}
      </if>
<if test="fncSvcfeeRate  != null">
        and t3.Fnc_SvcFee_Rate  = #{fncSvcfeeRate ,jdbcType=INTEGER}
      </if>
<if test="gdsWght  != null">
        and t3.Gds_Wght  = #{gdsWght ,jdbcType=INTEGER}
      </if>
<if test="insAmt  != null">
        and t3.Ins_Amt  = #{insAmt ,jdbcType=INTEGER}
      </if>
<if test="dctbAmt  != null">
        and t3.Dctb_Amt  = #{dctbAmt ,jdbcType=INTEGER}
      </if>
<if test="gdsPtsNum  != null">
        and t3.Gds_Pts_Num  = #{gdsPtsNum ,jdbcType=INTEGER}
      </if>
<if test="tms  != null">
        and t3.Tms  = #{tms ,jdbcType=INTEGER}
      </if>
<if test="crtTm  != null">
        and t3.Crt_Tm  = #{crtTm ,jdbcType=INTEGER}
      </if>
    	  <if test="arId  != null and arId  != ''">
        and t3.Ar_ID like binary CONCAT('%', #{arId ,jdbcType=CHAR},'%')       
      </if>
	  <if test="ordrId  != null and ordrId  != ''">
        and t3.Ordr_ID like binary CONCAT('%', #{ordrId ,jdbcType=CHAR},'%')       
      </if>
	  <if test="rskctrPrcRef  != null and rskctrPrcRef  != ''">
        and t3.Rskctr_Prc_Ref like binary CONCAT('%', #{rskctrPrcRef ,jdbcType=CHAR},'%')       
      </if>
	  <if test="splovCrrovMod  != null and splovCrrovMod  != ''">
        and t3.SplOv_CrrOv_Mod like binary CONCAT('%', #{splovCrrovMod ,jdbcType=CHAR},'%')       
      </if>
	  <if test="ordrSt  != null and ordrSt  != ''">
        and t3.Ordr_St like binary CONCAT('%', #{ordrSt ,jdbcType=CHAR},'%')       
      </if>
	  <if test="pymtmod  != null and pymtmod  != ''">
        and t3.PymtMod like binary CONCAT('%', #{pymtmod ,jdbcType=CHAR},'%')       
      </if>
	  <if test="ordrStdt  != null and ordrStdt  != ''">
        and t3.Ordr_StDt like binary CONCAT('%', #{ordrStdt ,jdbcType=CHAR},'%')       
      </if>
	  <if test="ordrEddt  != null and ordrEddt  != ''">
        and t3.Ordr_EdDt like binary CONCAT('%', #{ordrEddt ,jdbcType=CHAR},'%')       
      </if>
	  <if test="tprtDt  != null and tprtDt  != ''">
        and t3.Tprt_Dt like binary CONCAT('%', #{tprtDt ,jdbcType=CHAR},'%')       
      </if>
	  <if test="epap  != null and epap  != ''">
        and t3.EpAp like binary CONCAT('%', #{epap ,jdbcType=CHAR},'%')       
      </if>
	  <if test="processInstId  != null and processInstId  != ''">
        and t3.PROCESS_INST_ID like binary CONCAT('%', #{processInstId ,jdbcType=CHAR},'%')       
      </if>
	  <if test="pdNm  != null and pdNm  != ''">
        and t3.Pd_Nm like binary CONCAT('%', #{pdNm ,jdbcType=CHAR},'%')       
      </if>
	  <if test="spec  != null and spec  != ''">
        and t3.Spec like binary CONCAT('%', #{spec ,jdbcType=CHAR},'%')       
      </if>
	  <if test="qlyStd  != null and qlyStd  != ''">
        and t3.Qly_Std like binary CONCAT('%', #{qlyStd ,jdbcType=CHAR},'%')       
      </if>
	  <if test="brnd  != null and brnd  != ''">
        and t3.Brnd like binary CONCAT('%', #{brnd ,jdbcType=CHAR},'%')       
      </if>
	  <if test="pdFctr  != null and pdFctr  != ''">
        and t3.Pd_Fctr like binary CONCAT('%', #{pdFctr ,jdbcType=CHAR},'%')       
      </if>
	  <if test="gdsNm  != null and gdsNm  != ''">
        and t3.Gds_Nm like binary CONCAT('%', #{gdsNm ,jdbcType=CHAR},'%')       
      </if>
	  <if test="ppsLnd  != null and ppsLnd  != ''">
        and t3.Pps_Lnd like binary CONCAT('%', #{ppsLnd ,jdbcType=CHAR},'%')       
      </if>
	  <if test="tprtModAndImt  != null and tprtModAndImt  != ''">
        and t3.Tprt_Mod_And_Imt like binary CONCAT('%', #{tprtModAndImt ,jdbcType=CHAR},'%')       
      </if>
      <if test="ctrId  != null and ctrId  != ''">
        and t3.Ctr_ID like binary CONCAT('%', #{ctrId ,jdbcType=CHAR},'%')       
      </if>
        <if test="fncEntp  != null and fncEntp  != ''">
        and t1.Fnc_Entp  = #{fncEntp ,jdbcType=INTEGER}
      </if>
	  <if test="ustrmSplr  != null and ustrmSplr  != ''">
        and t1.Ustrm_Splr  = #{ustrmSplr ,jdbcType=INTEGER}
      </if>
	  <if test="stgco  != null and stgco  != ''">
        and t1.StgCo  = #{stgco ,jdbcType=INTEGER}
      </if>
	  <if test="bnk  != null and bnk  != ''">
        and t1.Bnk  = #{bnk ,jdbcType=INTEGER}
      </if>
	  <if test="lgstcCo  != null and lgstcCo  != ''">
        and t1.Lgstc_Co  = #{lgstcCo ,jdbcType=INTEGER}
      </if>
	  <if test="insCo  != null and insCo  != ''">
        and t1.Ins_Co  = #{insCo ,jdbcType=INTEGER}
      </if> 
	  <if test="splchainCo  != null and splchainCo  != '' and userType!=1">
        and t1.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
      </if>
         <if test="queryType  != null and queryType  == 1">
        and t3.Ordr_St  = '39'
      </if>
      <if test="queryType  != null and queryType  == 2">
        and t3.Ordr_St in ('32', '33', '34', '35', '36', '37','38')   
      </if>
      <if test="queryType  != null and queryType  == 3">
        and t3.PROCESS_INST_ID in (select t.PROC_INST_ID_ from act_hi_actinst t where t.PROC_INST_ID_=t3.PROCESS_INST_ID and t.ACT_ID_='endevent1')
      </if>
      <if test="queryType  != null and queryType  == 4">
        and t3.Ordr_St  in ('31', '10', '11')
      </if> 
      <if test="queryType  != null and queryType  == 5">
        and t3.Ordr_Id  in (select Rltv_ID from t0_lnk_jrnl_inf where username= #{username ,jdbcType=CHAR})
      </if> 
      <!-- 查询某订单名下的发货列表使用 --> 
      <if test="queryType  != null and queryType  == 6">
      </if> 
      
      <if test="userType  == null or (userType!=1 and userType !=2 and userType !=3 and userType !=4 and userType !=5 and userType !=6 and userType !=7)">
        and t1.SplChain_Co = 99999
      </if>
      <if test="userType  != null and userType  == 2">
        and t1.Ustrm_Splr = #{companyId ,jdbcType=INTEGER}
        and t1.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
      </if>
      <if test="userType  != null and userType  == 3">
        and t1.SplChain_Co = #{companyId ,jdbcType=INTEGER}
      </if>
      <if test="userType  != null and userType  == 4">
        and t1.Fnc_Entp = #{companyId ,jdbcType=INTEGER}
        and t1.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
      </if>
      <if test="userType  != null and userType  == 5">
        and t1.Ins_Co = #{companyId ,jdbcType=INTEGER}
        and t1.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
      </if>
      <if test="userType  != null and userType  == 6">
        and t1.Bnk = #{companyId ,jdbcType=INTEGER}
        and t1.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
      </if>
      <if test="userType  != null and userType  == 7">
        and t1.Lgstc_Co = #{companyId ,jdbcType=INTEGER}
        and t1.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
      </if>
      <if test="userType  != null and userType  == 8">
        and t1.StgCo = #{companyId ,jdbcType=INTEGER}
        and t1.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
      </if>   
	</sql>
      
   <sql id="query_criteria_t8"> 
   <if test="keyWorlds  != null and keyWorlds  != ''">
 and (t8.arId like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.processInstId like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.fncEntpName like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.ustrmSplrName like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.stgcoName like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.bnkName like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.lgstcCoName like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.insCoName like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.splchainCoName like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.ordrId like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.rskctrPrcRef like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.splovCrrovMod like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.ordrSt like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.pymtmod like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.ordrStdt like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.ordrEddt like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.tprtDt like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.epap like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.processInstId like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.pdNm like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.spec like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.qlyStd like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.brnd like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.pdFctr like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.username like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.gdsNm like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.ppsLnd like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 or t8.tprtModAndImt like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
  or t8.bnkAhn like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
  or t8.ctrId like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
 )
      </if>	
              
      </sql>
  
   <select id="selectByT3OrderInfDcQuery" parameterType="com.xai.tt.dc.client.vo.inVo.OrderManagementInVo" resultType="com.xai.tt.dc.client.vo.outVo.QueryOrderInfDetailOutVo">
		SELECT t8.* FROM (
		SELECT
	t6.id AS id,
t6.Ar_ID AS arId,
t6.Ordr_ID AS ordrId,
t6.PROCESS_INST_ID AS processInstId,
t6.Pd_Nm AS pdNm,
t6.Spec AS spec,
t6.Qly_Std AS qlyStd,
t6.Brnd AS brnd,
t6.Ordr_StDt AS ordrStdt,
t6.Ordr_EdDt AS ordrEddt,
t6.Pd_Fctr AS pdFctr,
t6.Pch_UnitPrc AS pchUnitprc,
t6.Wght AS wght,
t6.Pch_PymFrGds_TAmt AS pchPymfrgdsTamt,
t6.Txn_PrcDif AS txnPrcdif,
t6.Sale_Tntv_Prc AS saleTntvPrc,
t6.Fnc_Rto AS fncRto,
t6.Fnc_Amt AS fncAmt,
t6.Ctr_TAmt AS ctrTamt,
t6.Prpy_Gld_Rto AS prpyGldRto,
t6.Rskctr_UnitPrc AS rskctrUnitprc,
t6.Rskctr_Prc_Ref AS rskctrPrcRef,
t6.WnLn AS wnln,
t6.Crdn AS crdn,
t6.Clspos_Ln AS clsposLn,
t6.SplOv_CrrOv_Mod AS splovCrrovMod,
t6.Tms AS tms,
t6.Ordr_St AS ordrSt,
t6.username AS username,
t6.Crt_Tm AS crtTm,
t6.Fnc_SvcFee_Rate AS fncSvcfeeRate,
t6.Gds_Nm AS gdsNm,
t6.Gds_Pts_Num AS gdsPtsNum,
t6.Gds_Wght AS gdsWght,
t6.Ins_Amt AS insAmt,
t6.Dctb_Amt AS dctbAmt,
t6.EpAp AS epap,
t6.Tprt_Dt AS tprtDt,
t6.Pps_Lnd AS ppsLnd,
t6.Tprt_Mod_And_Imt AS tprtModAndImt,
t6.PymtMod AS pymtmod,
	_get_coname_func (t6.Fnc_Entp) AS fncEntpName,
	_get_coname_func (t6.Ustrm_Splr) AS ustrmSplrName,
	_get_coname_func (t6.StgCo) AS stgcoName,
	_get_coname_func (t6.Bnk) AS bnkName,
	_get_coname_func (t6.Lgstc_Co) AS lgstcCoName,
	_get_coname_func (t6.Ins_Co) AS insCoName,
	_get_coname_func (t6.SplChain_Co) AS splchainCoName,
	_trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 1) AS aplyPcstpCdName,
	_trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 2) AS aplyPcstpCd,
	t6.Fnc_Entp AS fncEntp,
	t6.Ustrm_Splr AS ustrmSplr,
	t6.StgCo AS stgco,
	t6.Bnk AS bnk,
	t6.Lgstc_Co AS lgstcCo,
	t6.Ins_Co AS insCo,
	t6.SplChain_Co AS splchainCo,
	t6.BTp as btp,
	t6.SvcFee_CMd as svcfeeCmd,
	t6.Ctr_ID as ctrId,
	t6.Bnk_Ahn as bnkAhn,
	t6.Fnc_Pctg as fncPctg
FROM
	(
		select distinct t3.*, t1.Fnc_Entp,t1.Ustrm_Splr,t1.StgCo,t1.Bnk,t1.Lgstc_Co,t1.Ins_Co,t1.SplChain_Co,t1.BTp,t1.SvcFee_CMd,t1.Fnc_Pctg from
		T3_Order_Inf t3,
			t1_ar_inf t1,
			USER t5
		WHERE
<!--			t1.SplChain_Co = t5.SplChain_Co
			and  -->
			t3.Ar_Id = t1.Ar_id
			<include refid="query_criteria"></include>
	) t6
	
	  <if test="userType == 1 or queryType  != 2">
		 LEFT JOIN 
      </if>	
 	  <if test="userType != 1 and queryType  == 2">	 , 
      </if>	  
      
 (
	SELECT
		t1.PROC_INST_ID_,
		t2.GROUP_ID_,
		t1.TASK_DEF_KEY_
	FROM
		act_ru_task t1,
		act_ru_identitylink t2
	WHERE
		t1.ID_ = t2.TASK_ID_ 
	  <!--非平台方查询自身的待审批件-->
      <if test="userType != 1 and queryType  == 2">
		AND t2.GROUP_ID_ = #{usrTp,jdbcType=VARCHAR}
      </if>	
) t4 
 	  <if test="userType == 1 or queryType  != 2">
		 ON 
      </if>	
      <if test="userType != 1 and queryType  == 2">
		 where 
      </if>	
	 t6.PROCESS_INST_ID = t4.PROC_INST_ID_ 

    <if test="orderBy != null and orderBy != ''">
	   ORDER BY ${orderBy}
    </if>
) t8 
where 1=1 
<include refid="query_criteria_t8"></include>
 
  </select>
  
  <select id="count" resultType="java.lang.Integer">
 	SELECT count(*) FROM (
		SELECT
	t6.id AS id,
t6.Ar_ID AS arId,
t6.Ordr_ID AS ordrId,
t6.PROCESS_INST_ID AS processInstId,
t6.Pd_Nm AS pdNm,
t6.Spec AS spec,
t6.Qly_Std AS qlyStd,
t6.Brnd AS brnd,
t6.Ordr_StDt AS ordrStdt,
t6.Ordr_EdDt AS ordrEddt,
t6.Pd_Fctr AS pdFctr,
t6.Pch_UnitPrc AS pchUnitprc,
t6.Wght AS wght,
t6.Pch_PymFrGds_TAmt AS pchPymfrgdsTamt,
t6.Txn_PrcDif AS txnPrcdif,
t6.Sale_Tntv_Prc AS saleTntvPrc,
t6.Fnc_Rto AS fncRto,
t6.Fnc_Amt AS fncAmt,
t6.Ctr_TAmt AS ctrTamt,
t6.Prpy_Gld_Rto AS prpyGldRto,
t6.Rskctr_UnitPrc AS rskctrUnitprc,
t6.Rskctr_Prc_Ref AS rskctrPrcRef,
t6.WnLn AS wnln,
t6.Crdn AS crdn,
t6.Clspos_Ln AS clsposLn,
t6.SplOv_CrrOv_Mod AS splovCrrovMod,
t6.Tms AS tms,
t6.Ordr_St AS ordrSt,
t6.username AS username,
t6.Crt_Tm AS crtTm,
t6.Fnc_SvcFee_Rate AS fncSvcfeeRate,
t6.Gds_Nm AS gdsNm,
t6.Gds_Pts_Num AS gdsPtsNum,
t6.Gds_Wght AS gdsWght,
t6.Ins_Amt AS insAmt,
t6.Dctb_Amt AS dctbAmt,
t6.EpAp AS epap,
t6.Tprt_Dt AS tprtDt,
t6.Pps_Lnd AS ppsLnd,
t6.Tprt_Mod_And_Imt AS tprtModAndImt,
t6.PymtMod AS pymtmod,
	_get_coname_func (t6.Fnc_Entp) AS fncEntpName,
	_get_coname_func (t6.Ustrm_Splr) AS ustrmSplrName,
	_get_coname_func (t6.StgCo) AS stgcoName,
	_get_coname_func (t6.Bnk) AS bnkName,
	_get_coname_func (t6.Lgstc_Co) AS lgstcCoName,
	_get_coname_func (t6.Ins_Co) AS insCoName,
	_get_coname_func (t6.SplChain_Co) AS splchainCoName,
	_trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 1) AS aplyPcstpCdName,
	_trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 2) AS aplyPcstpCd,
	t6.Fnc_Entp AS fncEntp,
	t6.Ustrm_Splr AS ustrmSplr,
	t6.StgCo AS stgco,
	t6.Bnk AS bnk,
	t6.Lgstc_Co AS lgstcCo,
	t6.Ins_Co AS insCo,
	t6.SplChain_Co AS splchainCo,
	t6.BTp as btp,
	t6.SvcFee_CMd as svcfeeCmd
FROM
	(
		select distinct t3.*, t1.Fnc_Entp,t1.Ustrm_Splr,t1.StgCo,t1.Bnk,t1.Lgstc_Co,t1.Ins_Co,t1.SplChain_Co,t1.BTp,t1.SvcFee_CMd from
		T3_Order_Inf t3,
			t1_ar_inf t1,
			USER t5
		WHERE
			t1.SplChain_Co = t5.SplChain_Co
			and 
			t3.Ar_Id = t1.Ar_id
			<include refid="query_criteria"></include>
	) t6
	
	  <if test="userType == 1 or queryType  != 2">
		 LEFT JOIN 
      </if>	
 	  <if test="userType != 1 and queryType  == 2">	 , 
      </if>	  
      
(
	SELECT
		t1.PROC_INST_ID_,
		t2.GROUP_ID_,
		t1.TASK_DEF_KEY_
	FROM
		act_ru_task t1,
		act_ru_identitylink t2
	WHERE
		t1.ID_ = t2.TASK_ID_
	  <!--非平台方查询自身的待审批件-->
      <if test="userType != 1 and queryType  == 2">
		AND t2.GROUP_ID_ = #{usrTp,jdbcType=VARCHAR}
      </if>	
) t4 

 	  <if test="userType == 1 or queryType  != 2">
		ON 
      </if>	
      <if test="userType != 1 and queryType  == 2">
		where 
      </if>	

t6.PROCESS_INST_ID = t4.PROC_INST_ID_ 

    <if test="orderBy != null and orderBy != ''">
	   ORDER BY ${orderBy}
    </if>
) t8 
where 1=1 
<include refid="query_criteria_t8"></include>
  </select>
  
  
    <select id="queryOrderDetail" parameterType="java.lang.Integer" resultType="com.xai.tt.dc.client.vo.outVo.QueryOrderInfDetailOutVo">
SELECT
	t3.Fnc_Entp AS fncEntp,
	t3.Ustrm_Splr AS ustrmSplr,
	t3.StgCo AS stgco,
	t3.Bnk AS bnk,
	t3.Lgstc_Co AS lgstcCo,
	t3.Ins_Co AS insCo,
	t3.SplChain_Co AS splchainCo,
	_trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 1) AS aplyPcstpCdName,
	_trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 2) AS aplyPcstpCd,
	t3.BTp as btp,
	t3.SvcFee_CMd as svcfeeCmd,
	t3.id AS id,
t3.Ar_ID AS arId,
t3.Ordr_ID AS ordrId,
t3.PROCESS_INST_ID AS processInstId,
t3.Pd_Nm AS pdNm,
t3.Spec AS spec,
t3.Qly_Std AS qlyStd,
t3.Brnd AS brnd,
t3.Ordr_StDt AS ordrStdt,
t3.Ordr_EdDt AS ordrEddt,
t3.Pd_Fctr AS pdFctr,
t3.Pch_UnitPrc AS pchUnitprc,
t3.Wght AS wght,
t3.Pch_PymFrGds_TAmt AS pchPymfrgdsTamt,
t3.Txn_PrcDif AS txnPrcdif,
t3.Sale_Tntv_Prc AS saleTntvPrc,
t3.Fnc_Rto AS fncRto,
t3.Fnc_Amt AS fncAmt,
t3.Ctr_TAmt AS ctrTamt,
t3.Prpy_Gld_Rto AS prpyGldRto,
t3.Rskctr_UnitPrc AS rskctrUnitprc,
t3.Rskctr_Prc_Ref AS rskctrPrcRef,
t3.WnLn AS wnln,
t3.Crdn AS crdn,
t3.Clspos_Ln AS clsposLn,
t3.SplOv_CrrOv_Mod AS splovCrrovMod,
t3.Tms AS tms,
t3.Ordr_St AS ordrSt,
t3.username AS username,
t3.Crt_Tm AS crtTm,
t3.Fnc_SvcFee_Rate AS fncSvcfeeRate,
t3.Gds_Nm AS gdsNm,
t3.Gds_Pts_Num AS gdsPtsNum,
t3.Gds_Wght AS gdsWght,
t3.Ins_Amt AS insAmt,
t3.Dctb_Amt AS dctbAmt,
t3.EpAp AS epap,
t3.Tprt_Dt AS tprtDt,
t3.Pps_Lnd AS ppsLnd,
t3.Tprt_Mod_And_Imt AS tprtModAndImt,
t3.PymtMod AS pymtmod,
t3.Fnc_Pctg as fncPctg,
	t3.Bnk_Ahn as bnkAhn,
		t3.Ctr_ID as ctrId
	
FROM
	(
		SELECT
			distinct t13.*, t1.Fnc_Entp,t1.Ustrm_Splr,t1.StgCo,t1.Bnk,t1.Lgstc_Co,t1.Ins_Co,t1.SplChain_Co,t1.BTp,t1.SvcFee_CMd,t1.Fnc_Pctg
		FROM
			T3_Order_Inf t13, T1_AR_Inf t1
		where t13.id=#{id,jdbcType=INTEGER}
		and t13.Ar_Id = t1.Ar_Id
	) t3
LEFT JOIN (
	SELECT
		t1.PROC_INST_ID_,
		t2.GROUP_ID_,
		t1.TASK_DEF_KEY_
	FROM
		act_ru_task t1,
		act_ru_identitylink t2
	WHERE
		t1.ID_ = t2.TASK_ID_
) t4 ON t3.PROCESS_INST_ID = t4.PROC_INST_ID_
  </select>
  
      <select id="queryOrderDetailByOrderId" parameterType="java.lang.String" resultType="com.xai.tt.dc.client.vo.outVo.QueryOrderInfDetailOutVo">
SELECT
	t3.Fnc_Entp AS fncEntp,
	t3.Ustrm_Splr AS ustrmSplr,
	t3.StgCo AS stgco,
	t3.Bnk AS bnk,
	t3.Lgstc_Co AS lgstcCo,
	t3.Ins_Co AS insCo,
	t3.SplChain_Co AS splchainCo,
	_trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 1) AS aplyPcstpCdName,
	_trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 2) AS aplyPcstpCd,
	t3.BTp as btp,
	t3.SvcFee_CMd as svcfeeCmd,
	t3.id AS id,
t3.Ar_ID AS arId,
t3.Ordr_ID AS ordrId,
t3.PROCESS_INST_ID AS processInstId,
t3.Pd_Nm AS pdNm,
t3.Spec AS spec,
t3.Qly_Std AS qlyStd,
t3.Brnd AS brnd,
t3.Ordr_StDt AS ordrStdt,
t3.Ordr_EdDt AS ordrEddt,
t3.Pd_Fctr AS pdFctr,
t3.Pch_UnitPrc AS pchUnitprc,
t3.Wght AS wght,
t3.Pch_PymFrGds_TAmt AS pchPymfrgdsTamt,
t3.Txn_PrcDif AS txnPrcdif,
t3.Sale_Tntv_Prc AS saleTntvPrc,
t3.Fnc_Rto AS fncRto,
t3.Fnc_Amt AS fncAmt,
t3.Ctr_TAmt AS ctrTamt,
t3.Prpy_Gld_Rto AS prpyGldRto,
t3.Rskctr_UnitPrc AS rskctrUnitprc,
t3.Rskctr_Prc_Ref AS rskctrPrcRef,
t3.WnLn AS wnln,
t3.Crdn AS crdn,
t3.Clspos_Ln AS clsposLn,
t3.SplOv_CrrOv_Mod AS splovCrrovMod,
t3.Tms AS tms,
t3.Ordr_St AS ordrSt,
t3.username AS username,
t3.Crt_Tm AS crtTm,
t3.Fnc_SvcFee_Rate AS fncSvcfeeRate,
t3.Gds_Nm AS gdsNm,
t3.Gds_Pts_Num AS gdsPtsNum,
t3.Gds_Wght AS gdsWght,
t3.Ins_Amt AS insAmt,
t3.Dctb_Amt AS dctbAmt,
t3.EpAp AS epap,
t3.Tprt_Dt AS tprtDt,
t3.Pps_Lnd AS ppsLnd,
t3.Tprt_Mod_And_Imt AS tprtModAndImt,
t3.PymtMod AS pymtmod,
t3.Fnc_Pctg as fncPctg,
	t3.Bnk_Ahn as bnkAhn,
		t3.Ctr_ID as ctrId
FROM
	(
		SELECT
			distinct t13.*, t1.Fnc_Entp,t1.Ustrm_Splr,t1.StgCo,t1.Bnk,t1.Lgstc_Co,t1.Ins_Co,t1.SplChain_Co,t1.BTp,t1.SvcFee_CMd,t1.Fnc_Pctg 
		FROM
			T3_Order_Inf t13, T1_AR_Inf t1
		where t13.Ordr_ID=#{ordrId,jdbcType=CHAR}
		and t13.Ar_Id = t1.Ar_Id
	) t3
LEFT JOIN (
	SELECT
		t1.PROC_INST_ID_,
		t2.GROUP_ID_,
		t1.TASK_DEF_KEY_
	FROM
		act_ru_task t1,
		act_ru_identitylink t2
	WHERE
		t1.ID_ = t2.TASK_ID_
) t4 ON t3.PROCESS_INST_ID = t4.PROC_INST_ID_
  </select>
</mapper>