<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xai.tt.dc.biz.mapper.T4CurLnkInfMapper">
  <resultMap id="BaseResultMap" type="com.xai.tt.dc.client.model.T4CurLnkInf">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="Rltv_ID" jdbcType="VARCHAR" property="rltvId" />
    <result column="PROCESS_TYPE" jdbcType="CHAR" property="processType" />
    <result column="PROCESS_INST_ID" jdbcType="VARCHAR" property="processInstId" />
    <result column="Aply_PcStp_Cd" jdbcType="CHAR" property="aplyPcstpCd" />
    <result column="Aply_PsRlt_Cd" jdbcType="CHAR" property="aplyPsrltCd" />
    <result column="Rmrk" jdbcType="VARCHAR" property="rmrk" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="Inlz_Tm" jdbcType="TIMESTAMP" property="inlzTm" />
    <result column="Lnk_StTm" jdbcType="TIMESTAMP" property="lnkSttm" />
    <result column="Lnk_EdTm" jdbcType="TIMESTAMP" property="lnkEdtm" />
    <result column="Aply_Pcs_OdSt_Cd" jdbcType="CHAR" property="aplyPcsOdstCd" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="Tms" jdbcType="TIMESTAMP" property="tms" />
    <result column="Txn_Itt_Chnl_ID" jdbcType="CHAR" property="txnIttChnlId" />
    <result column="Aply_PsRlt" jdbcType="LONGVARBINARY" property="aplyPsrlt" />
  </resultMap>

 
</mapper>