<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xai.tt.dc.biz.mapper.T6SpgInfMapper" >
  <resultMap id="BaseResultMap" type="com.xai.tt.dc.client.model.T6SpgInf" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="Ar_ID" jdbcType="CHAR" property="arId" />
    <result column="Ordr_ID" jdbcType="CHAR" property="ordrId" />
    <result column="Spg_ID" jdbcType="CHAR" property="spgId" />
    <result column="PROCESS_INST_ID" jdbcType="VARCHAR" property="processInstId" />
    <result column="Spg_Tm" jdbcType="TIMESTAMP" property="spgTm" />
    <result column="Spg_Psn" jdbcType="VARCHAR" property="spgPsn" />
    <result column="Spg_Psn_Ctc_Tel" jdbcType="VARCHAR" property="spgPsnCtcTel" />
    <result column="Cnsgn" jdbcType="VARCHAR" property="cnsgn" />
    <result column="Cnsgn_Ctc_Tel" jdbcType="VARCHAR" property="cnsgnCtcTel" />
    <result column="Pps_Lnd" jdbcType="VARCHAR" property="ppsLnd" />
    <result column="Tms" jdbcType="TIMESTAMP" property="tms" />
    <result column="Spg_St" jdbcType="CHAR" property="spgSt" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="Crt_Tm" jdbcType="TIMESTAMP" property="crtTm" />
  </resultMap>

  <sql id="Base_Column_List">
    ID,Ar_ID,Ordr_ID,Spg_ID,PROCESS_INST_ID,Spg_Tm,Spg_Psn,Spg_Psn_Ctc_Tel,Cnsgn,Cnsgn_Ctc_Tel,Pps_Lnd,Tms,Spg_St
  </sql>


  <sql id="query_criteria">
    <if test="id  != null and id  != ''">
      and ID  = #{id ,jdbcType=INTEGER}
    </if>
    <if test="arId  != null and arId  != ''">
      and t3.AR_ID like binary CONCAT('%', #{arId ,jdbcType=CHAR},'%')
    </if>
    <if test="processInstId  != null and processInstId  != ''">
      and PROCESS_INST_ID  = #{processInstId ,jdbcType=VARCHAR}
    </if>
    <if test="ordrId  != null and ordrId  != ''">
      and Ordr_ID  = #{ordrId ,jdbcType=CHAR}
    </if>

    <if test="spgId  != null and spgId  != ''">
      and Spg_ID  = #{spgId ,jdbcType=CHAR}
    </if>

    <if test="spgTm  != null and spgTm  != ''">
      and Spg_Tm  = #{spgTm ,jdbcType=TIMESTAMP}
    </if>
    <if test="spgPsn  != null and spgPsn  != ''">
      and Spg_Psn  = #{spgPsn ,jdbcType=VARCHAR}
    </if>
    <if test="spgPsnCtcTel  != null and spgPsnCtcTel  != ''">
      and Spg_Psn_Ctc_Tel  = #{spgPsnCtcTel ,jdbcType=VARCHAR}
    </if>
    <if test="cnsgn  != null and cnsgn  != ''">
      and Cnsgn  = #{cnsgn ,jdbcType=VARCHAR}
    </if>
    <if test="cnsgnCtcTel  != null and cnsgnCtcTel  != ''">
      and Cnsgn_Ctc_Tel  = #{cnsgnCtcTel ,jdbcType=VARCHAR}
    </if>
    <if test="ppsLnd  != null and ppsLnd  != ''">
      and Pps_Lnd  = #{ppsLnd ,jdbcType=VARCHAR}
    </if>

    <if test="tms  != null and tms  != ''">
      and Tms  = #{tms ,jdbcType=TIMESTAMP}
    </if>

    <if test="spgSt  != null and spgSt  != ''">
      and Spg_St  = #{spgSt ,jdbcType=VARCHAR}
    </if>


    <if test="fncEntp  != null and fncEntp  != ''">
      and t1.Fnc_Entp  = #{fncEntp ,jdbcType=INTEGER}
    </if>
    <if test="ustrmSplr  != null and ustrmSplr  != ''">
      and t1.Ustrm_Splr  = #{ustrmSplr ,jdbcType=INTEGER}
    </if>
    <if test="stgco  != null and stgco  != ''">
      and t1.StgCo  = #{stgco ,jdbcType=INTEGER}
    </if>
    <if test="bnk  != null and bnk  != ''">
      and t1.Bnk  = #{bnk ,jdbcType=INTEGER}
    </if>
    <if test="lgstcCo  != null and lgstcCo  != ''">
      and t1.Lgstc_Co  = #{lgstcCo ,jdbcType=INTEGER}
    </if>
    <if test="insCo  != null and insCo  != ''">
      and t1.Ins_Co  = #{insCo ,jdbcType=INTEGER}
    </if>
    <if test="splchainCo  != null and splchainCo  != ''">
      and t1.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
    </if>

  </sql>

  <sql id="query_criteria_t8">
  <if test="keyWorlds  != null and keyWorlds  != ''">
    and (t8.arId like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
    or t8.processInstId like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
    or t8.ordrId like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')

    )
  </if>

  </sql>

  <select id="selectByT6SpgInfDcQuery" parameterType="com.xai.tt.dc.client.vo.inVo.SpgManagementInVo" resultType="com.xai.tt.dc.client.vo.outVo.QuerySpgInfDetailOutVo">
    SELECT t8.* FROM (
    SELECT
    t6.ID AS id,
    t6.Ar_ID AS arId,
    t6.Ordr_ID AS ordrId,
    t6.SPG_ID AS spgId,
    t6.PROCESS_INST_ID AS processInstId,
    t6.Spg_Tm AS spgTm,
    t6.Spg_Psn AS spgPsn,
    t6.Spg_Psn_Ctc_Tel AS spgPsnCtcTel,
    t6.Cnsgn AS cnsgn,
    t6.Cnsgn_Ctc_Tel AS cnsgnCtcTel,
    t6.Pps_Lnd AS ppsLnd,
    t6.Tms AS tms,
    t6.Spg_St AS spgSt,
    _get_coname_func (t6.Fnc_Entp) AS fncEntpName,
    _get_coname_func (t6.Ustrm_Splr) AS ustrmSplrName,
    _get_coname_func (t6.StgCo) AS stgcoName,
    _get_coname_func (t6.Bnk) AS bnkName,
    _get_coname_func (t6.Lgstc_Co) AS lgstcCoName,
    _get_coname_func (t6.Ins_Co) AS insCoName,
    _get_coname_func (t6.SplChain_Co) AS splchainCoName,
    _trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 1) AS aplyPcstpCdName,
    _trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 2) AS aplyPcstpCd,
    t6.Fnc_Entp AS fncEntp,
    t6.Ustrm_Splr AS ustrmSplr,
    t6.StgCo AS stgco,
    t6.Bnk AS bnk,
    t6.Lgstc_Co AS lgstcCo,
    t6.Ins_Co AS insCo,
    t6.SplChain_Co AS splchainCo,
    t6.BTp as btp,
    t6.Cnsgn AS cnsgn,
    t6.SvcFee_CMd as svcfeeCmd
    FROM
    (
    select distinct t3.*, t1.Fnc_Entp,t1.Ustrm_Splr,t1.StgCo,t1.Bnk,t1.Lgstc_Co,t1.Ins_Co,t1.SplChain_Co,t1.BTp,t1.SvcFee_CMd from
    T6_Spg_Inf t3,
    t1_ar_inf t1,
    USER t5
    WHERE
    t1.SplChain_Co = t5.SplChain_Co
    and
    t3.Ar_Id = t1.Ar_id
    <include refid="query_criteria"></include>
    ) t6
    LEFT JOIN (
    SELECT
    t1.PROC_INST_ID_,
    t2.GROUP_ID_,
    t1.TASK_DEF_KEY_
    FROM
    act_ru_task t1,
    act_ru_identitylink t2
    WHERE
    t1.ID_ = t2.TASK_ID_ #	AND t2.GROUP_ID_ = '01'
    ) t4 ON t6.PROCESS_INST_ID = t4.PROC_INST_ID_

    <if test="orderBy != null and orderBy != ''">
      ORDER BY ${orderBy}
    </if>
    ) t8
    where 1=1
    <include refid="query_criteria_t8"></include>

  </select>


  <select id="count" resultType="java.lang.Integer">

    SELECT count(*) FROM (
    SELECT
    t6.ID AS id,
    t6.Ar_ID AS arId,
    t6.Ordr_ID AS ordrId,
    t6.SPG_ID AS spgId,
    t6.PROCESS_INST_ID AS processInstId,
    t6.Spg_Tm AS spgTm,
    t6.Spg_Psn AS spgPsn,
    t6.Spg_Psn_Ctc_Tel AS spgPsnCtcTel,
    t6.Cnsgn AS cnsgn,
    t6.Cnsgn_Ctc_Tel AS cnsgnCtcTel,
    t6.Pps_Lnd AS ppsLnd,
    t6.Tms AS tms,
    t6.Spg_St AS spgSt,
    _get_coname_func (t6.Fnc_Entp) AS fncEntpName,
    _get_coname_func (t6.Ustrm_Splr) AS ustrmSplrName,
    _get_coname_func (t6.StgCo) AS stgcoName,
    _get_coname_func (t6.Bnk) AS bnkName,
    _get_coname_func (t6.Lgstc_Co) AS lgstcCoName,
    _get_coname_func (t6.Ins_Co) AS insCoName,
    _get_coname_func (t6.SplChain_Co) AS splchainCoName,
    _trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 1) AS aplyPcstpCdName,
    _trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 2) AS aplyPcstpCd,
    t6.Fnc_Entp AS fncEntp,
    t6.Ustrm_Splr AS ustrmSplr,
    t6.StgCo AS stgco,
    t6.Bnk AS bnk,
    t6.Lgstc_Co AS lgstcCo,
    t6.Ins_Co AS insCo,
    t6.SplChain_Co AS splchainCo,
    t6.BTp as btp,
    t6.SvcFee_CMd as svcfeeCmd
    FROM
    (
    select distinct t3.*, t1.Fnc_Entp,t1.Ustrm_Splr,t1.StgCo,t1.Bnk,t1.Lgstc_Co,t1.Ins_Co,t1.SplChain_Co,t1.BTp,t1.SvcFee_CMd from
    T6_Spg_Inf t3,
    t1_ar_inf t1,
    USER t5
    WHERE
    t1.SplChain_Co = t5.SplChain_Co
    and
    t3.Ar_Id = t1.Ar_id
    <include refid="query_criteria"></include>
    ) t6
    LEFT JOIN (
    SELECT
    t1.PROC_INST_ID_,
    t2.GROUP_ID_,
    t1.TASK_DEF_KEY_
    FROM
    act_ru_task t1,
    act_ru_identitylink t2
    WHERE
    t1.ID_ = t2.TASK_ID_ #	AND t2.GROUP_ID_ = '01'
    ) t4 ON t6.PROCESS_INST_ID = t4.PROC_INST_ID_

    <if test="orderBy != null and orderBy != ''">
      ORDER BY ${orderBy}
    </if>
    ) t8
    where 1=1
    <include refid="query_criteria_t8"></include>
  </select>


  <select id="querySpgDetail" parameterType="java.lang.Integer" resultType="com.xai.tt.dc.client.vo.outVo.QuerySpgInfDetailOutVo">
    SELECT
    t3.Fnc_Entp AS fncEntp,
    t3.Ustrm_Splr AS ustrmSplr,
    t3.StgCo AS stgco,
    t3.Bnk AS bnk,
    t3.Lgstc_Co AS lgstcCo,
    t3.Ins_Co AS insCo,
    t3.SplChain_Co AS splchainCo,
    _trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 1) AS aplyPcstpCdName,
    _trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 2) AS aplyPcstpCd,
    t3.BTp as btp,
    t3.SvcFee_CMd as svcfeeCmd,
    t3.id AS id,
    t3.Ar_ID AS arId,
    t3.Ordr_ID AS ordrId,
    t3.PROCESS_INST_ID AS processInstId,

    t3.SPG_ID AS spgId,
    t3.Spg_Tm AS spgTm,
    t3.Spg_Psn AS spgPsn,
    t3.Spg_Psn_Ctc_Tel AS spgPsnCtcTel,
    t3.Cnsgn AS cnsgn,
    t3.Cnsgn_Ctc_Tel AS cnsgnCtcTel,
    t3.Pps_Lnd AS ppsLnd,
    t3.Tms AS tms,
    t3.Spg_St AS spgSt，
    t3.Crt_Tm AS crtTm
    FROM
    (
    SELECT
    distinct t13.*, t1.Fnc_Entp,t1.Ustrm_Splr,t1.StgCo,t1.Bnk,t1.Lgstc_Co,t1.Ins_Co,t1.SplChain_Co,t1.BTp,t1.SvcFee_CMd
    FROM
    T6_Spg_Inf t13, T1_AR_Inf t1
    where t13.spg_id=#{spgId,jdbcType=INTEGER}
    and t13.Ar_Id = t1.Ar_Id
    ) t3
    LEFT JOIN (
    SELECT
    t1.PROC_INST_ID_,
    t2.GROUP_ID_,
    t1.TASK_DEF_KEY_
    FROM
    act_ru_task t1,
    act_ru_identitylink t2
    WHERE
    t1.ID_ = t2.TASK_ID_
    ) t4 ON t3.PROCESS_INST_ID = t4.PROC_INST_ID_
  </select>


  <select id="querySpgDetailBySpgId" parameterType="java.lang.String" resultType="com.xai.tt.dc.client.vo.outVo.QuerySpgInfDetailOutVo">
    SELECT
    t3.Fnc_Entp AS fncEntp,
    t3.Ustrm_Splr AS ustrmSplr,
    t3.StgCo AS stgco,
    t3.Bnk AS bnk,
    t3.Lgstc_Co AS lgstcCo,
    t3.Ins_Co AS insCo,
    t3.SplChain_Co AS splchainCo,
    _trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 1) AS aplyPcstpCdName,
    _trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 2) AS aplyPcstpCd,
    t3.BTp as btp,
    t3.SvcFee_CMd as svcfeeCmd,
    t3.id AS id,
    t3.Ar_ID AS arId,
    t3.Ordr_ID AS ordrId,
    t3.PROCESS_INST_ID AS processInstId,

    t3.SPG_ID AS spgId,
    t3.Spg_Tm AS spgTm,
    t3.Spg_Psn AS spgPsn,
    t3.Spg_Psn_Ctc_Tel AS spgPsnCtcTel,
    t3.Cnsgn AS cnsgn,
    t3.Cnsgn_Ctc_Tel AS cnsgnCtcTel,
    t3.Pps_Lnd AS ppsLnd,
    t3.Tms AS tms,
    t3.Spg_St AS spgSt
    FROM
    (
    SELECT
    distinct t13.*, t1.Fnc_Entp,t1.Ustrm_Splr,t1.StgCo,t1.Bnk,t1.Lgstc_Co,t1.Ins_Co,t1.SplChain_Co,t1.BTp,t1.SvcFee_CMd
    FROM
    T6_Spg_Inf t13, T1_AR_Inf t1
    where t13.Spg_ID=#{spgId,jdbcType=CHAR}
    and t13.Ar_Id = t1.Ar_Id
    ) t3
    LEFT JOIN (
    SELECT
    t1.PROC_INST_ID_,
    t2.GROUP_ID_,
    t1.TASK_DEF_KEY_
    FROM
    act_ru_task t1,
    act_ru_identitylink t2
    WHERE
    t1.ID_ = t2.TASK_ID_
    ) t4 ON t3.PROCESS_INST_ID = t4.PROC_INST_ID_
  </select>

</mapper>