<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xai.tt.dc.biz.mapper.T6SpgInfMapper" >
  <resultMap id="BaseResultMap" type="com.xai.tt.dc.client.model.T6SpgInf" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="Ar_ID" property="arId" jdbcType="CHAR" />
    <result column="Ordr_ID" property="ordrId" jdbcType="CHAR" />
    <result column="Spg_ID" property="spgId" jdbcType="CHAR" />
    <result column="PROCESS_INST_ID" property="processInstId" jdbcType="VARCHAR" />
    <result column="Spg_Tm" property="spgTm" jdbcType="TIMESTAMP" />
    <result column="Spg_Psn" property="spgPsn" jdbcType="VARCHAR" />
    <result column="Spg_Psn_Ctc_Tel" property="spgPsnCtcTel" jdbcType="VARCHAR" />
    <result column="Cnsgn" property="cnsgn" jdbcType="VARCHAR" />
    <result column="Cnsgn_Ctc_Tel" property="cnsgnCtcTel" jdbcType="VARCHAR" />
    <result column="Pps_Lnd" property="ppsLnd" jdbcType="VARCHAR" />
    <result column="Tms" property="tms" jdbcType="TIMESTAMP" />
    <result column="Spg_St" property="spgSt" jdbcType="CHAR" />
  </resultMap>

  <sql id="Base_Column_List">
    ID,Ar_ID,Ordr_ID,Spg_ID,PROCESS_INST_ID,Spg_Tm,Spg_Psn,Spg_Psn_Ctc_Tel,Cnsgn,Cnsgn_Ctc_Tel,Pps_Lnd,Tms,Spg_St
  </sql>


  <sql id="query_criteria">
    <if test="id  != null and id  != ''">
      and ID  = #{id ,jdbcType=INTEGER}
    </if>
    <if test="arId  != null and arId  != ''">
      and t3.AR_ID like binary CONCAT('%', #{arId ,jdbcType=CHAR},'%')
    </if>
    <if test="processInstId  != null and processInstId  != ''">
      and PROCESS_INST_ID  = #{processInstId ,jdbcType=VARCHAR}
    </if>
    <if test="ordrId  != null and ordrId  != ''">
      and Ordr_ID  = #{ordrId ,jdbcType=CHAR}
    </if>

    <if test="spgId  != null and spgId  != ''">
      and Spg_ID  = #{spgId ,jdbcType=CHAR}
    </if>

    <if test="spgTm  != null and spgTm  != ''">
      and Spg_Tm  = #{spgTm ,jdbcType=TIMESTAMP}
    </if>
    <if test="spgPsn  != null and spgPsn  != ''">
      and Spg_Psn  = #{spgPsn ,jdbcType=VARCHAR}
    </if>
    <if test="spgPsnCtcTel  != null and spgPsnCtcTel  != ''">
      and Spg_Psn_Ctc_Tel  = #{spgPsnCtcTel ,jdbcType=VARCHAR}
    </if>
    <if test="cnsgn  != null and cnsgn  != ''">
      and Cnsgn  = #{cnsgn ,jdbcType=VARCHAR}
    </if>
    <if test="cnsgnCtcTel  != null and cnsgnCtcTel  != ''">
      and Cnsgn_Ctc_Tel  = #{cnsgnCtcTel ,jdbcType=VARCHAR}
    </if>
    <if test="ppsLnd  != null and ppsLnd  != ''">
      and Pps_Lnd  = #{ppsLnd ,jdbcType=VARCHAR}
    </if>

    <if test="tms  != null and tms  != ''">
      and Tms  = #{tms ,jdbcType=TIMESTAMP}
    </if>

    <if test="spgSt  != null and spgSt  != ''">
      and Spg_St  = #{spgSt ,jdbcType=VARCHAR}
    </if>



    <if test="queryType  != null and queryType  == 1">
      and AR_St  = '07'
    </if>
    <!--平台方查询待审批件-->
    <if test="queryType  != null and queryType  == 2 and userType  != null and userType  == 1">
      and AR_St  in ('02', '03', '04', '05','06')
    </if>
    <if test="queryType  != null and queryType  == 3">
      <!--     and AR_St  = '07'   -->
      and t3.PROCESS_INST_ID in (select t.PROC_INST_ID_ from act_hi_actinst t where t.PROC_INST_ID_=t3.PROCESS_INST_ID and t.ACT_ID_='endevent1')
    </if>
    <if test="queryType  != null and queryType  == 4">
      and AR_St  in ('01', '10', '11')
    </if>
    <if test="queryType  != null and queryType  == 5">
      <!--       and t3.AR_ID  in (select Rltv_ID from t0_lnk_jrnl_inf where username= #{username ,jdbcType=CHAR}) -->
      and t3.AR_ID  in (select Rltv_ID from t0_lnk_jrnl_inf where company_id= #{companyId ,jdbcType=INTEGER})
    </if>
    <if test="userType  == null or (userType!=1 and userType !=2 and userType !=3 and userType !=4 and userType !=5 and userType !=6 and userType !=7)">
      and t3.SplChain_Co = 99999
    </if>
    <if test="userType  != null and userType  == 2">
      and t3.Ustrm_Splr = #{companyId ,jdbcType=INTEGER}
      and t3.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
    </if>
    <if test="userType  != null and userType  == 3">
      and t3.SplChain_Co = #{companyId ,jdbcType=INTEGER}
    </if>
    <if test="userType  != null and userType  == 4">
      and t3.Fnc_Entp = #{companyId ,jdbcType=INTEGER}
      and t3.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
    </if>
    <if test="userType  != null and userType  == 5">
      and t3.Ins_Co = #{companyId ,jdbcType=INTEGER}
      and t3.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
    </if>
    <if test="userType  != null and userType  == 6">
      and t3.Bnk = #{companyId ,jdbcType=INTEGER}
      and t3.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
    </if>
    <if test="userType  != null and userType  == 7">
      and t3.Lgstc_Co = #{companyId ,jdbcType=INTEGER}
      and t3.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
    </if>
    <if test="userType  != null and userType  == 8">
      and t3.StgCo = #{companyId ,jdbcType=INTEGER}
      and t3.SplChain_Co  = #{splchainCo ,jdbcType=INTEGER}
    </if>
  </sql>

  <sql id="query_criteria_t8">
  <if test="keyWorlds  != null and keyWorlds  != ''">
    and (t8.arId like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')
    or t8.processInstId like binary CONCAT('%', #{keyWorlds ,jdbcType=CHAR},'%')

    )
  </if>

  </sql>

  <select id="selectByT6SpgInfDcQuery" parameterType="com.xai.tt.dc.client.vo.inVo.SpgManagementInVo" resultType="com.xai.tt.dc.client.vo.outVo.QueryPageSpgOutVo">
    SELECT t8.* FROM (
    SELECT
    t6.ID AS id,
    t6.Ar_ID AS arId,
    t6.Ordr_ID AS ordrId,
    t6.SPG_ID AS spgId,
    t6.PROCESS_INST_ID AS processInstId,
    _get_coname_func (t6.SplChain_Co) AS splchainCoName,
    t6.Spg_Tm AS spgTm,
    t6.Spg_Psn AS spgPsn,
    t6.Spg_Psn_Ctc_Tel AS spgPsnCtcTel,
    t6.Cnsgn AS cnsgn,
    t6.Cnsgn_Ctc_Tel AS cnsgnCtcTel,
    t6.Pps_Lnd AS ppsLnd,
    t6.Tms AS tms,
    t6.Spg_St AS spgSt,
    _trans_lnk_inf_def_func (t4.TASK_DEF_KEY_, 1) AS aplyPcstpCdName,
    CASE t4.TASK_DEF_KEY_
    WHEN 'AR_Itt_Pltfrm' THEN
    '01'
    WHEN 'AR_Cfm_SplChain' THEN
    '02'
    WHEN 'AR_Cfm_Dwstr_Entp' THEN
    '03'
    WHEN 'AR_Cfm_Ins_Co' THEN
    '04'
    WHEN 'AR_FrstIns_Pltfrm' THEN
    '05'
    WHEN 'AR_SndInsc_Pltfrm' THEN
    '06'
    WHEN 'AR_Tmt_Pltfrm' THEN
    '07'
    ELSE
    ''
    END AS aplyPcstpCd


    FROM
    (
    SELECT DISTINCT
    t3.*
    FROM
    t6_spg_inf t3,
    USER t5
    WHERE
    t3.SplChain_Co = t5.SplChain_Co
    <include refid="query_criteria"></include>
    )

    t6

    <if test="userType == 1 or queryType  != 2">
      LEFT JOIN
    </if>
    <if test="userType != 1 and queryType  == 2">	 ,
    </if>

    (
    SELECT
    t1.PROC_INST_ID_,
    t2.GROUP_ID_,
    t1.TASK_DEF_KEY_
    FROM
    act_ru_task t1,
    act_ru_identitylink t2
    WHERE
    t1.ID_ = t2.TASK_ID_
    <!--非平台方查询自身的待审批件-->
    <if test = "userType != 1 and queryType  == 2">
      AND t2.GROUP_ID_ = #{usrTp,jdbcType=VARCHAR}
    </if>
    )
    t4
    <if test="userType == 1 or queryType  != 2">
      ON
    </if>
    <if test="userType != 1 and queryType  == 2">
      where
    </if>
    t6.PROCESS_INST_ID = t4.PROC_INST_ID_

    <if test="orderBy != null and orderBy != ''">
      ORDER BY ${orderBy}
    </if>
    )

    t8
    where 1=1
    <include refid="query_criteria_t8"></include>

  </select>



</mapper>