<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xai.tt.dc.biz.mapper.T8OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.xai.tt.dc.client.model.T8OrderDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="MsUnit" jdbcType="VARCHAR" property="msunit" />
    <result column="Ordr_ID" jdbcType="CHAR" property="ordrId" />
    <result column="ids" jdbcType="BIGINT" property="ids" />
    <result column="Pd_ID" jdbcType="BIGINT" property="pdId" />
    <result column="Pd_Nm" jdbcType="VARCHAR" property="pdNm" />
    <result column="Num" jdbcType="REAL" property="num" />
    <result column="Spec" jdbcType="VARCHAR" property="spec" />
    <result column="Modl" jdbcType="VARCHAR" property="modl" />
    <result column="Qly_Std" jdbcType="VARCHAR" property="qlyStd" />
    <result column="Brnd" jdbcType="VARCHAR" property="brnd" />
    <result column="Pd_Fctr" jdbcType="VARCHAR" property="pdFctr" />
    <result column="Pch_UnitPrc" jdbcType="REAL" property="pchUnitprc" />
    <result column="Txn_PrcDif" jdbcType="REAL" property="txnPrcdif" />
    <result column="Sale_Tntv_Prc" jdbcType="REAL" property="saleTntvPrc" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="Crt_Tm" jdbcType="TIMESTAMP" property="crtTm" />
    <result column="Tms" jdbcType="TIMESTAMP" property="tms" />
  </resultMap>
 
</mapper>